<div>
    <h1>{{ competition?.name }}</h1>

    <h2>Teams:</h2>
    <ul>
        <li *ngFor="let team of competition?.teams_compete">{{ team.name }}</li>
    </ul>

    <h2>Matchs:</h2>
    <table>
        <thead>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let match of competition?.matches">
            <td [ngStyle]="{'background': match.result ? '#41ad3b' : '#c92310'}">{{ match.team1.name }}</td>
            <td [ngStyle]="{'background': match.result ? '#c92310' : '#41ad3b'}">{{ match.team2.name }}</td>
            <td>{{ match.score }}</td>
        </tr>
        </tbody>
    </table>
    <div class="match-card" *ngFor="let match of competition?.matches" [ngClass]="{'win': match.result, 'loss': !match.result}">
        <div class="match-header">
            <h2>Match Details</h2>
        </div>
        <div class="match-body">
            <div class="team">
                <h3>Team 1</h3>
                <p>{{ match.team1.name }}</p>

            </div>
            <div class="score">
                {{ match.score }}
            </div>
            <div class="team">
                <h3>Team 2</h3>
                <p>{{ match.team2.name }}</p>
            </div>
        </div>
        <div class="champions">
            <h3>Champions Picked</h3>
            <div class="champion-list">
                <img *ngFor="let champion of match.champions_picked" src='https://ddragon.leagueoflegends.com/cdn/14.20.1/img/champion/{{champion.name}}.png' [alt]="champion.name" class="champion-img">
            </div>
        </div>
    </div>
</div>