<div class="header">
    <h1>Regions</h1>
</div>

<div class="regions-container">
    <div *ngFor="let region of regions; let i = index" class="region-card" (click)="flipCard(i)">
        <div class="card-inner" [class.flipped]="flipStates[i]">
            <!-- Front of the card -->
            <div class="card-front">
                <div class="Clickable">
                    <img [routerLink]="['/regions/', region.id]" (click)="$event.stopPropagation()" [src]="region.logo" alt="{{ region.name }} Logo" />
                </div>
                <div>
                    <h2>{{ region.name }}</h2>
                </div>
            </div>

            <!-- Back of the card with teams in a table -->
            <div class="card-back">
                <table>
                    <tbody>
                        <tr *ngFor="let row of getRows(region.teams)">
                             <td>
                                 <a *ngFor="let team of row" [routerLink]="['/teams', team.id]">
                                 <img [src]="team.logo " alt="{{ team.name }}" class="team-logo"/>
                                 </a>
                             </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
