.create-tournament {
  max-width: 600px;
  margin: 0 auto;
  background: #22092C80;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  .form-group {
    margin-bottom: 15px;
  }
  .logoAndteam{
    margin-bottom: 10px;
  }

  .team-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .matches-section {
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }
}
