<div class="create-team">
    <h1>Create Team</h1>

    <!-- Team Name -->
    <div class="form-group">
        <label for="team-name">Team Name:</label>
        <input
                type="text"
                id="team-name"
                [(ngModel)]="team.name"
                placeholder="Enter team name"
                class="form-control"
        />

        <label for="team-description">Team Description:</label>
        <input
                type="text"
                id="team-description"
                [(ngModel)]="team.description"
                placeholder="Enter team description"
                class="form-control"
        />

        <label for="team-logo">Team Logo:</label>
        <input
                type="text"
                id="team-logo"
                [(ngModel)]="team.logo"
                placeholder="Enter team logo"
                class="form-control"
        />

        <label for="team-partners">Team Partners:</label>
        <input
                type="text"
                id="team-partners"
                [(ngModel)]="team.partners"
                placeholder="Enter team partners"
                class="form-control"
        />

        <label for="team-date">Team Creation:</label>
        <input
            type="date"
            id="team-date"
            [(ngModel)]="team.creation_date"
            placeholder="Enter team creation date"
            class="form-control"
        />

        <label for="team-players">Select Players:</label>
        <select id="team-players" multiple [(ngModel)]="team.players" class="form-control">
            <option *ngFor="let player of allPlayers" [ngValue]="player">{{ player.pseudo }}</option>
        </select>
        <label for="region_id">Select Region:</label>
        <select id="region_id"  [(ngModel)]="team.region_id" class="form-control">
            <option *ngFor="let region of regions" [ngValue]="region.id" >{{ region.name }}</option>
        </select>

        <label for="team-lieu">Team Location:</label>
        <input
                type="text"
                id="team-lieu"
                [(ngModel)]="team.lieu"
                placeholder="Enter team location"
                class="form-control"
        />

    </div>

    <!-- Submit Button -->
    <button (click)="createTeam()" class="btn btn-primary">
        Create Team
    </button>
</div>