<div class="admin-container">
    <h1>Admin Panel</h1>

    <!-- Buttons Section -->
    <div class="button-group">
        <!-- Button to toggle the Create Team section -->
        <button (click)="toggleCreateTeam()" [class.clicked]="isCreateTeamOpen" class="toggle-button">
            {{ isCreateTeamOpen ? 'Close Create Team' : 'Create Team' }}
        </button>

        <!-- Button to toggle the Delete Team section -->
        <button (click)="toggleDeleteTeam()" [class.clicked]="isDeleteTeamOpen" class="toggle-button">
            {{ isDeleteTeamOpen ? 'Close Delete Team' : 'Delete Team' }}
        </button>

        <!-- Button to toggle the Create Player section -->
        <button (click)="toggleCreatePlayer()" [class.clicked]="isCreatePlayerOpen" class="toggle-button">
            {{ isCreatePlayerOpen ? 'Close Create Player' : 'Create Player' }}
        </button>

        <button (click)="toggleCreateTournament()" [class.clicked]="isCreateTournamentOpen" class="toggle-button">
            {{ isCreateTournamentOpen ? 'Close Create Tournament' : 'Create Tournament'}}
        </button>
    </div>

    <!-- Create Team Section (Collapsible) -->
    <div *ngIf="isCreateTeamOpen" class="create-team-section">
        <create-team></create-team>
    </div>

    <!-- Delete Team Section (Collapsible) -->
    <div *ngIf="isDeleteTeamOpen" class="create-team-section">
        <app-delete-team></app-delete-team>
    </div>

    <!-- Create Player Section (Collapsible) -->
    <div *ngIf="isCreatePlayerOpen" class="create-team-section">
        <create-player></create-player>
    </div>

    <div *ngIf="isCreateTournamentOpen" class="create-team-section">
        <app-create-tournament></app-create-tournament>
    </div>
</div>
