$dark-blue: #22092C;     // Main background color
$deep-crimson: #872341;  // Border of the cards
$vibrant-pink: #BE3144;  // Inner card background
$soft-orange: #F05941;   // Text or inner elements
$blue-gradient-end: #3b3b6b;  // A lighter complementary blue

$dark-blue-gradient: linear-gradient(135deg, $dark-blue, $blue-gradient-end);
$soft-orange-gradient: linear-gradient(135deg, #F05941, #F97F62); // Slightly lighter hue
$vibrant-pink-gradient: linear-gradient(135deg, #BE3144, #D94E65);
$deep-crimson-gradient: linear-gradient(0deg, #872341, #A43A59);

// Updated toggle-button styling
.toggle-button {
  background: $vibrant-pink;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: $soft-orange;
    transform: translateY(-2px);
  }

  &:active {
    background: $vibrant-pink;
    transform: translateY(0);
  }
  &.clicked {
    background: $soft-orange; // Button color when clicked
    border: 2px solid $vibrant-pink; // Optionally add a border to show it's clicked
  }
}

// Align buttons next to each other
.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

// Center collapsible sections in the container
.create-team-section,
.app-delete-team-section,
.create-player-section {
  display: flex;
  justify-content: center;      // Center horizontally
  align-items: center;          // Center vertically if content requires it
  margin-top: 20px;
  width: fit-content;                  // Ensure sections take full width of the container
  background: $vibrant-pink;    // Background color for collapsibles
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Optional for depth
}

// Admin container layout
.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;          // Center all items inside the admin-container
  padding: 20px;
  background: #22092C80; // Use dark blue for the background
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px;
  color: white;
  border-radius: 8px;
  width: 100%;                  // Ensure the admin-container takes full width
}

h1 {
  color: $soft-orange;
  margin-bottom: 20px;
  text-align: center;
  font-family: american typewriter, serif;
  font-weight: bold;
  font-size: 2.5rem;

}
