<div class="clicker-container" >
    <h1>Kill the Yuumi</h1>
    <p>Click the yuumi 10 times to make it explode!</p>
    <p>Clicks: {{clickCount}} / 10</p>

    <!-- Display the "explosion" image after 50 clicks -->
    <img *ngIf="!isExploded" src="assets/yuumi.png" alt="Click Me" (click)="onImageClick()" class="clickable-image">
    <img *ngIf="isExploded" src="assets/Explo.png" alt="Exploded" class="explosion-image">

    <div>
    <button (click)="resetGame()" *ngIf="isExploded">Reset Game</button>
    </div>
</div>
