<div class="player-details">
    <p><strong>First Name:</strong> {{ player.firstName }}</p>
    <p><strong>Last Name:</strong> {{ player.lastName }}</p>
    <p><strong>Rôle:</strong> {{ player.role }}</p>
    <div>
        <strong>Champions:</strong>
        <ul class="champion-list">
        <li *ngFor="let champion of player.champion_prefs">

                <img src='{{champion.image}}' [alt]="champion.name" class="champion-img">
        </li>
        </ul>
    </div>
    <!-- Add other player-specific information here -->
</div>
