<span class="title">Welcome to StatUp</span>
<div>
    <span class="welcome">Home of all things League Esports</span>
</div>
<div>
    <img src="https://media.giphy.com/media/UnaFqsR8d2KdQEblUd/giphy.gif" height="200" class="gif">
</div>

<span class="title">So many matches to watch, So many teams to follow</span>

<!-- Separator -->
<div class="section-separator"></div>

<!-- Latest Articles Section -->
<div class="latest-articles">
    <span class="title">Latest Articles</span>
    <div class="card-group">

        <!-- Card 1 -->
        <div class="card">
            <img src="https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/2/28/2024_T1_Summer.jpg" alt="Article Image">
            <div class="card-content">
                <h3>How did T1 win Worlds?</h3>
                <p>The team that defied all expectations to become back-to-back champions reveals how they spent this month preparing ...</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/659d701c9e57476a2b36e746/LOL-Patch-14-1-key-art/960x0.png" alt="Article Image">
            <div class="card-content">
                <h3>What to expect ofr the New Season</h3>
                <p>As the offseason is going strong, fans are wondering what is in store for the season to come. Here are the top 5 things you should look forwards to...</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <img src="https://www.lequipe.fr/_medias/img-photo-jpg/les-arenes-d-evry-courcouronnes-l-enceinte-qui-accueillera-desormais-la-karmine-corp-comme-club-resi/1500000002054637/0:0,1998:1332-828-552-75/bbcd0.jpg" alt="Article Image">
            <div class="card-content">
                <h3>KC's New Stadium</h3>
                <p>The French organisation announced earlier this year that their new stadium would...</p>
            </div>
        </div>

    </div>
</div>

<div class="yuumi">
    <app-clicker-game></app-clicker-game>
</div>
