<span class="title">Welcome to StatUp</span>
<div>
  <span class="welcome">Home of all things League Esports</span>
</div>
<div>
    <img src="https://media.giphy.com/media/UnaFqsR8d2KdQEblUd/giphy.gif" height="200" class="gif">
</div>

<span class="title">So many matches to watch, So many teams to follow</span>
<div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img1.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">
        Une merveilleuse web app from scratch JAVA Spring - Angular
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img2.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">Avec une super team de 3 ou 4 personnes</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img3.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">Encadrés par un intervenant prêt à dégainer sa magie noire pour vous aider</p>
    </div>
  </div>
</div>
    <app-clicker-game></app-clicker-game>
</div>
